body            { font-family: sans-serif; background: #eee; }
a		        { color: #377ba8; }

main        { margin: 1em auto; width: 75%; border: 5px solid #fff;background: white; }


/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    background-color: white; 
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Hauteur minimale de la fenêtre visible */
}

header {
    background-color: #0c2d31;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("../All/header.png");
    background-size: cover;
    background-position: center;
}

.menu ul {
    list-style-type: none;
}

.menu ul li {
    display: inline-block;
    margin-right: 30px;
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.menu ul li a:hover {
    color: #ffc107;
    font-weight:  bold;
}

main {
    padding: 20px;
    flex:  1;
    padding: 20px;
    overflow-y: auto; /* Ajoute un défilement vertical uniquement lorsque nécessaire */
    max-height: calc(100vh - 150px); /* Définissez la hauteur maximale de la section principale, ajustez-la selon vos besoins */
}

.cmd_table {
	display: table;
	width: 100%;
	border: 1px solid #000;
}
.cmd_entetes {
	display: table-header-group;
	background-color: orange;
	font-weight: bold;
	text-align: center;
	color: white;
}
.cmd_ligne {
	display: table-row;
}
.cmd_entete, .cmd_cellule {
	display: table-cell;
	padding: 3px 10px;
	border: 1px solid #000;
}


/* Styles pour la partie form */
.form_livraison {
	margin-bottom: 20px;
	padding: 20px;
	background-color: #E7EFF3;
	border-radius: 5px;
	align-items: center;
}

/* Styles pour la label */
.form_livraison label {
	font-weight: bold;
	width: 120px; /* Ajustez la largeur selon vos besoins */
}

.form_livraison input[type="text"] {
	flex: 1;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

/* Styles pour le bouton */
.form_livraison input[type="submit"] {
	background-color: orange;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.form_livraison input[type="submit"]:hover {
	background-color: #08D7F3;
}


footer {
    background-color: #0c2d31;
    color: #fff;
    text-align: center;
    padding: 10px;
    background-image: url("../All/footer.png");
    background-size: cover;
    background-position: center;
    font-weight:  bold;
    margin-top: auto;

}


		
