/* Reset CSS */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

html{
  background-image: url("../All/background.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    position: static;

}

h1 {
    font-size: 500%;
    margin-bottom: 10px;
    color : #333;
    font-weight:  bold;
    text-align: center;
}

h2 {
    font-family: "Bodoni MT Black", sans-serif;
    font-size: 300%;
    color: #333;
}

p,a {
    font-family: "Palatino Linotype", sans-serif;
    font-size: 125%;
    color: black;
    font-weight:  bold;
}

a:hover {
    color: pink;
    font-weight:  bold;
    transition: color 0.3s; /* Transition fluide de la couleur */
}

.header {;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main        {
    margin: 1em auto;
    width: 75%;
    border: 5px solid #fff;
    border-radius: 25px}


/* Styles généraux */
body {
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Hauteur minimale de la fenêtre visible */
}

header {
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu ul {
    list-style-type: none;
}

.menu ul li {
    display: inline-block;
    margin-right: 30px;
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.menu ul li a:hover {
    color: #ff9fcd;
    font-weight:  bold;
}

main {
    padding: 20px;
    flex:  1;
    overflow-y: auto; /* Ajoute un défilement vertical uniquement lorsque nécessaire */
    max-height: calc(100vh - 150px); /* Définissez la hauteur maximale de la section principale, ajustez-la selon vos besoins */
}

.cmd_table {
	display: table;
	width: 100%;
    border-radius: 20px;
	border: 1px solid #000;
}
.cmd_entetes {
	display: table-header-group;
    border-radius: 20px;
	font-weight: bold;
	text-align: center;
    background-color: pink;
	color: #333;
}

.cmd_entete_1{
    border-top-left-radius: 20px;
}

.cmd_entete_3{
    border-top-right-radius: 20px;
}

.cmd_entete_1,.cmd_entete,.cmd_entete_3, .cmd_cellule {
	display: table-cell;
	padding: 3px 10px;
	border: 0.5px solid #333;
}

.cmd_ligne {
    font-weight: bold;
    text-align: center;
	display: table-row;
}

/* Colorer tous les éléments enfants pair */
.cmd_ligne:nth-child(even) {
    background-color: rgba(169, 169, 169, 0.4);
}

/* Colorer tous les éléments enfants impair */
.cmd_ligne:nth-child(odd){
    background-color: rgba(211, 211, 211, 0.4);
}


/* Styles pour la partie form */
.form_livraison {
	margin-bottom: 20px;
	padding: 20px;
	background-color: rgba(211, 211, 211, 0.7);
	border-radius: 5px;
	align-items: center;
}

/* Styles pour la label */
.form_livraison label {
	font-weight: bold;
	width: 120px; /* Ajustez la largeur selon vos besoins */
}

.form_livraison input[type="text"] {
	flex: 1;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

/* Styles pour le bouton */
.form_livraison input[type="submit"] {
	background-color: #ff9fcd;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.form_livraison input[type="submit"]:hover {
	background-color: #ec72ac;
}


footer {
    background-color: lightgrey;
    color: black;
    text-align: center;
    padding: 10px;
    font-weight:  bold;
    width : 100%;
    bottom : 0;
    position : fixed;

}


		
