*{
	margin:  0;
	padding:  0;
	text-decoration:  none;
	list-style: none;
	box-sizing: border-box;
}
body{
	font-family: sans-serif ;
}

/*Le menu*/
header {
    background-color: #0c2d31;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("bkg.png");
    background-size: cover;
    background-position: center;
}

.menu ul {
    list-style-type: none;
}

.menu ul li {
    display: inline-block;
    margin-right: 20px;
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.menu ul li a:hover {
    color: #ffc107;
    font-weight:  bold;
}

h2 {
    padding: 10px;
}
.cmd

{
   text-align: center;
}
/*menu déroulant*/
.menu_d {
    text-align: center;
    font-family: FontAwesome;
    font-size: 18px;
}

.menu_content {
    text-align: center;
    padding: 12px 16px;
}
.type {
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    color: #333;
    cursor: pointer;
    }

.type option {
    background: purple;
    color: white;
    cursor: pointer;
  }
  
.type:hover {
    background-color: orange;
  }

/*checkbox*/
.choix_op {
    text-align: center;
    font-family: FontAwesome;
    font-size: 18px;
}

#options{
    padding: 10px;
    text-align: center;
    font-family: FontAwesome;
    font-size: 18px;
    accent-color: purple; 
}

input[type=checkbox] {
    cursor: pointer;
    margin-right: 5px;
    margin-bottom: 10px; 
  }
  
.case {
    width:18px;
    height:18px;
}

/*boutton de commande*/
.btn_cmd {
    position: relative;
    padding: 15px;
}
.btn_cmd button{
    font-size: 15px;
    font-weight: bold;
    border-radius: 15px;
    border: 4px double #cccccc;
    padding: 10px;
    width: 120px;
    background-color: purple;
    color: #eeeeee;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

button:hover {
    background-color: orange;
  }

/*les tableaux*/
#tab {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#tab > div{
    flex: 1;
    padding: 20px;
    background-color: transparent;
    margin-right: 10px;
    text-align: center;
    margin-top: 50px;
}
table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    margin: auto;

}

th, td {
    padding: 5px;
    border-width:2px;
    border-style:solid; 
    border-color: purple;
    text-align: center;
}

/*footer*/
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-image: url("bkg1.png");
    background-size: cover;
    background-position: center;
    font-weight:  bold;
}


