<!DOCTYPE html>
<html>
   <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" type="text/css" href="../static/accueil.css">
         <title>INNOVALog</title>
  </head>
  <body>
        <header class="header">
            <img src="../static/logo_EG.png" />
            <nav class="menu">
                <ul>
                  <li><a href="Accueil.html">Accueil</a></li>
                  <li><a href="client.html">Commander</a></li>
                  <li><a href="Contact.html">Contact</a></li>
               </ul>
            </nav>
        </header>
        <main>
            <section id="About">
                <h1>
                    INNOVALog 
                </h1>
                <p>
                    Le Groupe mère InnovaFun est une PME 100% française qui développe, assemble et commercialise ces véhicules électriques équipés de 4 roues motrices visant des applications de niche pour les collectivités, l'industrie et les loisirs.
                </p>
            </section>
            <section id="Societes" >
                <div id="agilean">
                    <button onclick="window.location.href = 'agilean.html';"><img src="../static/logo_agilean.png" /></button>
                    <p> La société AgiLean assure la production des variantes du véhicule. 
                    </p>
                </div>
                <div id="agilog">
                   <button onclick="window.location.href = 'agilog.html';"><img src="../static/logo_agilog.png" /></button>
                   <p> La société AgiLog assure la logistique d’approvisionnement d' Agilean.
                   </p>
                </div>
                <div id="agigreen">
                    <button onclick="window.location.href = 'agigreen.html';"><img src="../static/logo_agigreen.png" /></button>
                    <p>La société AgiGreen fourni les pièces à base du reconditionnement.
                    </p>
                </div>
            </section>
        </main>
        <footer>Version 2.5 © 2014 F. ROSIN</footer>
  </body>
</html>