<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
   <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" type="text/css" href="../static/Accueil/accueil.css">
         <title>Accueil</title>
  </head>
  <body>
        <header class="header">
            <a href="/"><img src="../static/All/logo_innovalog.png" /></a>
            <nav class="menu">
                <ul>
                  <li><a href="/client">Commander</a></li>
                  <li><a href="/contact">Contact</a></li>
               </ul>
            </nav>
        </header>
        <main>
            <section id="About">
                <h1>INNOVALog</h1></br>
                <p>
                    Le Groupe mère InnovaFun est une PME 100% française qui développe,
                    assemble et commercialise ses véhicules électriques équipés de 4 roues motrices
                    visant des applications de niche pour les collectivités, l'industrie et les loisirs.
                </p>
            </section>
            <section id="Societes" >
                <div id="agilean">
                    <h2>Agilog</h2>
                    <input type="image" onclick="window.location.href='/agilean'" src="../static/Accueil/logo_agilog.png"/>

                    <p> La société AgiLean assure la production des variantes du véhicule.</p>
                </div>

                <div id="agilog">
                    <h2>Agilean</h2>
                   <input type="image" onclick="window.location.href='/agilog'" src="../static/Accueil/logo_agilean.png"/>
                   <p> La société AgiLog assure la logistique d’approvisionnement d' Agilean.</p>
                </div>

                <div id="agigreen">
                    <h2> AgiGreen</h2>
                    <input type="image" onclick="window.location.href='/agigreen'" src="../static/Accueil/logo_agigreen.png" />
                    <p>La société AgiGreen fourni les pièces à base du reconditionnement.</p>
                </div>
            </section>
        </main>
        <footer>Version 2.5 © 2014 F. ROSIN</footer>
  </body>
</html>