<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
		<title>Agilog</title>
		<link rel="stylesheet" type="text/css" href="../static/agilog.css">
	</head>
	<body>
		<header>
        <img src="../static/logo_EG.png" />
        <nav class="menu">
            <ul>
              <li><a href="Accueil.html">Accueil</a></li>
              <li><a href="Contact.html">Contact</a></li>
           </ul>
        </nav>
    </header>
    <main>
			<section id="sect_timer" >
				
			</section>
			<div class="gestion_cmd">
				<div class="form_livraison">
						<form action="#" method="post">
							<!-- Champ de texte avec texte par défaut -->
							<label for="champ_texte">Commande à livrer :</label><br>
							<input type="text" id="champ_texte" name="champ_texte" value="N° de la commande"><br><br>
							<!-- Bouton de soumission -->
							<input type="submit" value="Livrer">
						</form>
				</div>
				<div class="cmd_table">
					<div class="cmd_entetes">
						<div class="cmd_entete">N° Commande</div>
						<div class="cmd_entete">Heure de reception de commande</div>
						<div class="cmd_entete">Nom de la pièce</div>
						<div class="cmd_entete">Nombre</div>
					</div>
					{% for piece in piece_dans_commande %}
						<div class="cmd_ligne">
							<div class="cmd_cellule">{{ commande_piece['ID'] }}</div>
							<div class="cmd_cellule">{{ commande_piece['temps'] }}</div>
							<div class="cmd_cellule">{{ piece['nom']}}</div>
							<div class="cmd_cellule">{{ piece_dans_commande['nombre'] }}</div>
						</div>
					{% endfor %}
				</div>
			</div>
    </main>
    <footer>Version 2.5 © 2014 F. ROSIN</footer>
	</body>
</html>
