<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
		<title>Agilean</title>
        <script src="../static/Agi/agi.js"></script>
		<link rel="stylesheet" type="text/css" href="../static/Agi/agilog_agilean.css">
	</head>
	<body>
		<header>
        <a href="/"><img src="../static/All/logo_innovalog.png" /></a>
        <nav class="menu">
            <ul>
              <li><a href="contact.html">Contact</a></li>
           </ul>
        </nav>
    </header>
    <main>
			<section id="sect_timer" >
				<h1>AgiLean</h1>
			</section>
			<div class="gestion_cmd">
				<div class="form_livraison" id="livrerForm">
                    <form id="livrerForm" method="post">
                        <label for="champ_texte">Commande à livrer :</label><br>
                        <input type="text" id="champ_texte" name="champ_texte" placeholder="N° de la commande">
                        <input type="submit" value="Livrer" ><br>
                        <div id="messageContainer"></div>
                    </form>
				</div>
				<div class="cmd_table">
					<div class="cmd_entetes">
						<div class="cmd_entete_1">N° Commande</div>
						<div class="cmd_entete_3">Kit à préparer</div>
					</div>
                    {% for kits in liste_kits %}
					    {% for kit in kits %}
                            <div class="cmd_ligne">
                                <div class="cmd_cellule">{{ kit['ID'] }}</div>
                                <div class="cmd_cellule">{{ kit['kit'] }}</div>
                            </div>
					    {% endfor %}
                    {% endfor %}
				</div>
			</div>
    </main>
    </body>
    <footer>Version 2.5 © 2014 F. ROSIN</footer>
</html>
