<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
		<title>Agilean</title>
        <script src="../static/Agi/agi.js"></script>
		<link rel="stylesheet" type="text/css" href="../static/Agi/agilog_agilean.css">
	</head>
	<body>
		<header>
            <a href="/"><img src="../static/All/logo_innovalog.png" /></a>
            <nav class="menu">
                <ul>
                  <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <section id="sect_timer" >
                <h1>AgiLean</h1>
            </section>

            <div class="gestion_cmd">
                <div class="form_livraison">
                        <form action="#" method="post">
                            <label for="champ_texte">Commande à livrer :</label><br>
                            <!-- Champ de texte avec texte par défaut qui s'efface quand on selectionne la case-->
                            <input type="text" id="champ_texte" name="champ_texte" placeholder="N° de la commande">
                            <!-- Bouton de soumission -->
                            <input type="submit" value="Livrer">
                        </form>
                </div>
                <table class="cmd_table">
                    <tr class="cmd_entetes">
                        <th class="cmd_entete">N° Commande</th>
                        <th class="cmd_entete">Type de Vehicule</th>
                        <th class="cmd_entete">Option</th>
                        <th class="cmd_entete">Heure Prévue de Livraison</th>
                        <th class="cmd_entete">Etat de la commande </th>
                    </tr>
                    {% for commande in les_commandes %}
                        <tr class="cmd_ligne">
                            <td class="cmd_cellule">{{ commande['ID'] }}</td>
                            <td class="cmd_cellule">{{ commande['type'] }}</td>
                            <td class="cmd_cellule">{% if commande['option_1']==1 %}Antenne<br/> {% endif %}{% if commande['option_2']==1 %}Crochet d'attelage<br/> {% endif %}{% if commande['option_3']==1 %}Attache{% endif %}</td>
                            <td class="cmd_cellule">{{ commande['temps'] }}</td>
                            <td class="cmd_cellule">{% if commande['etat']==0 %}En attente des pièces Agilean {% endif %}{% if commande['etat']==1 %}En attente de montage{% endif %}{% if commande['etat']==2 %}Livrée{% endif %}</td>


                        </tr>
                    {% endfor %}
                </table>
            </div>
        </main>
    </body>
    <footer>Version 2.5 © 2014 F. ROSIN</footer>
</html>
