<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Client</title> 
    <link rel="stylesheet" href="Client.css">
  </head>
  <body>
    <header class="header">
        <img src="../static/logo_EG.png" />
        <nav class="menu">
            <ul>
              <li><a href="accueil">Accueil</a></li>
              <li><a href="client">Commander</a></li>
              <li><a href="contact">Contact</a></li>
           </ul>
        </nav>
    </header>
    
    <main>
    <h2 class="cmd">Commande</h2>
    <!--menu déroulant-->
    <div class="txt">
    <label for="select_type">Choisissez le type de véhicule</label></div>
    <section id="type">
      <div>
          <button class="chassis" onclick="window.location.href = '';"><img src="../static/Client/CCO.png" /></button>
          <p> Chassis Court Ouvert</p>
      </div>
      <div>
         <button class="chassis" onclick="window.location.href = '';"><img src="../static/Client/CCF.png" /></button>
         <p> Chassis Court Fermé</p>
      </div>
      <div>
          <button class="chassis" onclick="window.location.href = '';"><img src="../static/Client/CLO.png" /></button>
          <p>Chassis Long Ouvert</p>
      </div>
      <div>
        <button class="chassis" onclick="window.location.href = '';"><img src="../static/Client/CLF.png" /></button>
        <p>Chassis Long Fermé</p>
      </div>
    </section>

    <div class="choix_op"> <!--options-->
      <label for="select_type">Choisissez les options de véhicule</label>
    <section id="options">
    <form>
        <div>
            <input class="case" type="checkbox" id="choix_options" name="options" value="option"/>
            <label for="choix_options">
                Antenne
            </label>
        </div>
        <div>
            <input class="case" type="checkbox" id="choix_options" name="options" value="option"/>
            <label for="choix_options">
                Crochet
            </label>
        </div>
        <div>
            <input class="case" type="checkbox" id="choix_options" name="options" value="option"/>
            <label for="choix_options">
                Attache
            </label>
        </div>
    </form></section></div>

    <div class="btn_cmd">  <!--boutton-->
        <button onclick="window.location.href = '';" type="submit">Commander</button>
    </div>

    <section id="tab" > <!--tableaux-->
        <div class="tab1">
    <h2>Suivi des commandes</h2>
    <table>
        <tr>
          <th>Liste des commandes</th>
          <th>Heure d'arrivée prévue</th>
        </tr>
        <tr>
          <td>bla</td>
          <td>bla</td>
        </tr>
        <tr>
          <td>bla</td>
          <td>bla</td>
        </tr>
    </table></div>
        <div class="tab2">
    <h2>Commandes passées</h2>
    <table>
        <tr>
          <th>Liste des commandes</th>
          <th>Heure livrée</th>
          <th>A l'heure ou en retard</th>
        </tr>
        <tr>
          <td>bla</td>
          <td>bla</td>
          <td>bla</td>
        </tr>
        <tr>
          <td>bla</td>
          <td>bla</td>
          <td>bla</td>
        </tr>
    </table></div>
    </section></main>
    <footer>Version 2.5 © 2014 F. ROSIN</footer>
  </body>
</html>

