<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>À propos de nous</title>
    <link rel="stylesheet" type="text/css" href="../static/Propos/propos.css">
</head>
<body>
    <header class="header">
        <a href="/"><img src="../static/All/logo_innovalog.png" /></a>
        <h1 class="title">À propos de nous</h1>
        <nav class="menu">
            <a href="/contact">Contactez-nous</a>
        </nav>
    </header>
    <div class="container">
        <section class="section front-developers">
            <h2 class="section-title">Développeurs Front</h2>
            <p>En tant que développeur front-end, nous créons l'interface utilisateur du site web.
                Nous utilisons des langages comme HTML et CSS pour rendre l'expérience utilisateur agréable et interactive.
                Notre équipe travaille en étroite collaboration avec les designers pour donner vie à leurs concepts.</p>
            <div class="person-grid">
                <div class="person">
                    <img src="../static/Propos/chaimaa.jpeg" alt="Chaimaa BERREQIA">
                    <p>Chaimaa BERREQIA</p>
                    <p>Développeur front</p>
                </div>
                <div class="person">
                    <img src="../static/Propos/clément.jpeg" alt="Clément ARNOUX">
                    <p>Clément ARNOUX</p>
                    <p>Développeur front</p>
                </div>
                <div class="person">
                    <img src="../static/Propos/saadia.jpeg" alt="Person 6">
                    <p>Saadia BARAH</p>
                    <p>Développeur front</p>
                </div>
            </div>
        </section>


        <section class="section back-developers">
            <h2 class="section-title">Développeurs Back</h2>
            <p>Nous sommes responsables du côté "caché" d'une application web et de la communication entre le site et la base de données.
                En utilisant des langages tels que Python, nous développons les fonctionnalités qui assurent le bon fonctionnement de l'application.
                Notre objectif est de garantir la sécurité, la rapidité et la fiabilité de l'application.</p>
            <div class="person-grid">
                <div class="person">
                    <img src="../static/Propos/dayron.jpeg" alt="Dayron MONTOYA">
                    <p>Dayron MONTOYA</p>
                    <p>Développeur back</p>
                </div>
                <div class="person">
                    <img src="../static/Propos/romain.jpeg" alt="Person 5">
                    <p>Romain MISTRULLI</p>
                    <p>Développeur back</p>
                    </div>
                <div class="person">
                    <img src="../static/Propos/luis.jpeg" alt="Luis Fernando DE LA CRUZ">
                    <p>Luis Fernando DE LA CRUZ</p>
                    <p>Développeur back</p>
                </div>
            </div>
        </section>


        <section class="section db-engineers">
            <h2 class="section-title">Ingénieurs Base de Données</h2>
            <p>Notre équipe conçoit, gère et optimise les bases de données qui stockent les données de l'application.
                Nous travaillons en étroite collaboration avec les développeurs back-end pour assurer un accès rapide et efficace aux données.
                Notre objectif est de garantir que les données sont stockées de manière sécurisée et efficace.</p>
            <div class="person-grid">
                <div class="person">
                    <img src="../static/Propos/sacha.jpeg" alt="Sacha DURAND">
                    <p>Sacha DURAND</p>
                    <p>Ingénieur base de données</p>
                </div>
                <div class="person">
                    <img src="../static/Propos/samuel.jpeg" alt="Samuel MARTIN">
                    <p>Samuel MARTIN</p>
                    <p>Ingénieur base de données</p>
                </div>
            </div>
        </section>

        <section class="section project-manager">
            <h2 class="section-title">Chef de Projet</h2>
            <p>En tant que chef de projet, je planifie, coordonne et supervise toutes les activités liées au projet.
                J'identifie les besoins du client, établis des plans et des échéanciers, et veille à ce que les objectifs du projet soient atteints dans les délais impartis.
                Mon rôle est de garantir une communication fluide au sein de l'équipe et avec le client, et de nous assurer que le projet se déroule sans accroc.</p>
            <div class="person-grid">
                <div class="person">
                    <img src="../static/Propos/diane.jpeg" alt="Diane REIXACH">
                    <p>Diane REIXACH</p>
                    <p>Chef de projet</p>
                </div>
            </div>
        </section>

    </div>
    <footer>Version 2.5 © 2014 F. ROSIN</footer>
</body>
</html>

